.App {
  /* text-align: center;
  justify-content: center;
  align-items: center; */
  background-color: #ffffff; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* NAV */
.Logo-nav{
    height: 80px,
}


/* HOME SCREEN */
.Banner-img {
    /* width: 1200px; */
    margin-top: 0;
}

.Container-basico{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    justify-items: center;
    background-color: #ffffff;
}

.Container-basico2{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    justify-items: center;
    background-color: #f1f1f1f1;
}

.Inside-container-basico {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    justify-items: center;
}

.Component-metric {
    margin: 70px;
    padding: 70px;
}


.Texto-teste {
    color: 'black';
    font-family: 'Roboto';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
