.App {
    /* text-align: center;
  justify-content: center;
  align-items: center; */
    background-color: #ffffff;
}

.App-header {
    /* background-color: #282c34; */
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


/* NAV */

.Logo-nav {
    height: 80px,
}


/* HOME SCREEN */

/* IMAGENS */
.Banner-img {
    /* width: 1200px; */
    margin-top: 0;
}

.Img-card-destaque {
    height: 400;
    width: 400;
}

/* ESTRUTURA */
.Container-basico {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    justify-items: center;
    background-color: #ffffff;
}

.Container-basico2 {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    justify-items: center;
    background-color: #f1f1f1f1;
}

.Inside-container-basico {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    justify-items: center;
}

.Component-metric {
    margin: 70px;
    padding: 70px;
}

.Linha-cinza {
    background-color: #e6e6e6;
    padding: 60px;
}

.Linha-branca {
    background-color: #ffffff;
}



/* TEXTO */
.Texto-teste {
    color: 'black';
    font-family: 'Roboto';
}


/* COMPONENTES */

.Card-destaque {
    margin-left: 100px;
    margin-right: 100px
}